<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PY MAG</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/functions.js"></script>
</head>
<body>

<div id="mobile-menu-open">
	<div></div>
	<div></div>
	<div></div>
</div>

	<header id="head-blog">
		<div class="logo-main"><a href="index.html"><img src="img/logo.svg"></a></div>

		<div class="nav-blog-top">
				<div class="filter-btns">
					<ul class="btn-blog">
						<li filter-data=""><a href="">Люди</a></li>
						<li filter-data=""><a href="">Город</a></li>
						<li filter-data=""><a href="">События</a></li>
						<li filter-data=""><a href="">Развлечения</a></li>
						<li filter-data=""><a href="">Бизнес</a></li>
						<li filter-data=""><a href="">Спецпроекты</a></li>
					</ul>
				</div>
		</div>

<div class="mobile-menu">

	<div id="social">
		<div class="buttons">
			<a href="#"><img src="img/social/fb.svg"></a>
			<a href="#"><img src="img/social/ins.svg"></a>
			<a href="#"><img src="img/social/vk.svg"></a>
			<a href="#"><img src="img/social/yt.svg"></a>
			<a href="#"><img src="img/social/tg.svg"></a>
		</div>
	</div>

	</div>

	</header>



<main id="main-content">


	<div class="main-container">

	<!-- 	<h2 class="main-blog-header">PY MAG</h2> -->

		<!-- <div class="nav-blog-top">
				<div class="filter-btns">
					<ul class="btn-blog">
						<li class="active">Все</li>
						<li filter-data="">Люди</li>
						<li filter-data="">Город</li>
						<li filter-data="">События</li>
						<li filter-data="">Развлечения</li>
						<li filter-data="">Бизнес</li>
						<li filter-data="">Спецпроекты</li>
					</ul>
				</div>
		</div> -->

	<div class="main-blogs">
		
		<article class="article-main-blog" >
			<div class="image-block">
				<a href="page_inner.html"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="page_inner.html">Фигурист Денис Тен о семи любимых книгах Фигурист Денис Тен о семи любимых книгах</a></h3>
				<p>«Степь» продолжает исследовать книжные полки интересных людей. В этом выпуске – 11 любимых книг Досыма Сатпаева, кандидата политических наук, издателя, директора «Группы оценки рисков», основателя частного культурно-просветительского фонда и литературного проекта «Сөз». «Степь» продолжает исследовать книжные полки интересных людей. В этом выпуске – 11 любимых книг Досыма Сатпаева, кандидата политических наук, издателя, директора «Группы оценки рисков», основателя частного культурно-просветительского фонда и литературного проекта «Сөз». </p>
			</div>
		</article>

		<article class="article-main-blog" >
			<div class="image-block">
				<a href="#"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="">Общественный деятель Аружан Саин о семи любимых книгах</a></h3>
				<p>Ирония Булгакова, исторические романы и городское фэнтези. «Степь» заглянула на полку основательницы благотворительного фонда «Милосердие», казахстанской телеведущей и актрисы. Ирония Булгакова, исторические романы и городское фэнтези. «Степь» заглянула на полку основательницы благотворительного фонда «Милосердие», казахстанской телеведущей и актрисы. Ирония Булгакова, исторические романы и городское фэнтези. «Степь» заглянула на полку основательницы благотворительного фонда «Милосердие», казахстанской телеведущей и актрисы. Ирония Булгакова, исторические романы и городское фэнтези. «Степь» заглянула на полку основательницы благотворительного фонда «Милосердие», казахстанской телеведущей и актрисы. </p>
			</div>
		</article>

		<article class="article-main-blog">
			<div class="image-block">
				<a href="#"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="">Багдат Мусин о семи любимых книгах</a></h3>
				<p>Казахская классика, бизнес-литература и Стив Джобс – мы заглянули на полку одного из самых успешных молодых чиновников Казахстана. Казахская классика, бизнес-литература и Стив Джобс – мы заглянули на полку одного из самых успешных молодых чиновников Казахстана. </p>
			</div>
		</article>

		<article class="article-main-blog">
			<div class="image-block">
				<a href="#"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="">Спецпроект «Будь здоров»: Как работать в офисе и не вредить своему здоровью</a></h3>
				<p>Работа в офисе полна скрытых опасностей: сидячий образ жизни, бесконечные торты и вечно болеющие коллеги - всё это негативно сказывается на здоровье рядового сотрудника. Совместно с сетью аптек «Биосфера» и семейством продуктов «Дыши», мы решили узнать, чем вреден пассивный образ жизни, как противостоять конфетным перерывам и что делать, чтобы защитить себя от всех опасностей офисной среды. Работа в офисе полна скрытых опасностей: сидячий образ жизни, бесконечные торты и вечно болеющие коллеги - всё это негативно сказывается на здоровье рядового сотрудника. Совместно с сетью аптек «Биосфера» и семейством продуктов «Дыши», мы решили узнать, чем вреден пассивный образ жизни, как противостоять конфетным перерывам и что делать, чтобы защитить себя от всех опасностей офисной среды. </p>
			</div>
		</article>

		<article class="article-main-blog">
			<div class="image-block">
				<a href="#"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="">Предприниматель Рамиль Мухоряпов о семи любимых книгах</a></h3>
				<p>Этим летом о Рамиле говорят абсолютно все: от восторженных историй о поглощении конкурентов казахстанцы перешли к жарким спорам о неоднозначных рекламных роликах. Нам стало интересно, какими книгами руководствуется и вдохновляется самый обсуждаемый предприниматель лета. Этим летом о Рамиле говорят абсолютно все: от восторженных историй о поглощении конкурентов казахстанцы перешли к жарким спорам о неоднозначных рекламных роликах. Нам стало интересно, какими книгами руководствуется и вдохновляется самый обсуждаемый предприниматель лета. </p>
			</div>
		</article>

		<article class="article-main-blog">
			<div class="image-block">
				<a href="#"><img src="img/1.jpg" alt=""></a>
			</div>
			<div class="text-block">
				<h3 class="blog-inner-header"><a href="">ForteBank представил 6 новых сервисов. Рассказываем про новинки</a></h3>
				<p>25 апреля в Астане в головном офисе ForteBank прошел ForteDay - первое ежегодное мероприятие, на котором топ-менеджмент банка познакомил аудиторию с несколькими новыми продуктами. Редакция The Steppe побывала на презентации. Теперь объясняем, что это за сервисы и как ими пользоваться. </p>
			</div>
		</article>

	</div>

	</div>


</main>


<footer>
	

<div class="footer">


<!-- <div class="social-footer">
	<div class="social-footer-wrapper">
		<a href=""><img src="img/social/fb.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/ins.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/vk.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/yt.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/tg.svg" title="Наши социальные страницы" /></a>
	</div>
</div> -->

<div class="nav-footer">
	<h1>О журнале</h1>
	<ul>
	<li><a href="#">Редакция</a></li>
	<li><a href="#">Журнал</a></li>
	<li><a href="#">Пользовательское соглашение</a></li>
	<li><a href="#">Реклама на сайте</a></li>
	<li><a href="#">Контакты</a></li>
	</ul>
</div>


<div class="nav-footer">
	<h1>рубрика</h1>
	<ul>
	<li><a href="#">Люди</a></li>
	<li><a href="#">Город</a></li>
	<li><a href="#">События</a></li>
	<li><a href="#">Реклама на сайте</a></li>
	<li><a href="#">Контакты</a></li>
	</ul>
</div>

<div class="nav-footer">
	<h1>Подпишитесь</h1>
	<ul>
	<li><a href="#">Facebook</a></li>
	<li><a href="#">Instagram</a></li>
	<li><a href="#">Vkontakte</a></li>
	<li><a href="#">Youtube</a></li>
	<li><a href="#">Telegram</a></li>
	</ul>
</div>

<div class="feedback-footer">
	<h1>Подписаться</h4>
	<p class="feedback-text">Подпишитесь на нашу рассылку, чтобы не пропустить последние новости,<br /> предложения и мероприятия.</p>
	<form action="#" method="POST" onsubmit="return false;" id="footer-form">
		<input type="email" placeholder="Введте адрес электронной почты">
		<input type="submit" value="Отправить">
		</form>

</div>
	

</div>

<!-- <div class="copyright">&copy; ООО «Parviz Yakhyayev» 2012 —2019. Все права защищены<br />ул. Мирзо Улугбека, д. 57, Самарканд, 140103<br />По вопросам соблюдения интеллектуальных прав обращайтесь<br />по адресу info@pymag.uz
</div> -->

</footer>	


	
</body>
</html>