<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PY MAG</title>
	<link rel="stylesheet" href="css/style.css">
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
			<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/functions.js"></script>
</head>
<body>

<div id="mobile-menu-open">
	<div></div>
	<div></div>
	<div></div>
</div>

	<header id="head-blog">
		<div class="logo-main"><a href="index.html"><img src="img/logo.svg"></a></div>

<div class="mobile-menu">

	<div class="nav-blog-top">
		<div class="filter-btns">
			<ul class="btn-blog">
				<li filter-data="">Люди</li>
				<li filter-data="">Город</li>
				<li filter-data="">Бизнес</li>
				<li filter-data="">Спецпроекты</li>
				<li filter-data="">Интервью</li>
			</ul>
		</div>
 	</div>

	<div id="social">
		<div class="buttons">
			<a href="#"><img src="img/social/fb.svg"></a>
			<a href="#"><img src="img/social/ins.svg"></a>
			<a href="#"><img src="img/social/vk.svg"></a>
			<a href="#"><img src="img/social/yt.svg"></a>
			<a href="#"><img src="img/social/tg.svg"></a>
		</div>
	</div>

	</div>

	</header>



<main id="main-content">


	<div class="main-container">

		<article class="blog-inner page-inner">
			
			<div class="image-block" style="background:url('img/123.jpg')no-repeat;background-size:cover;background-position:50% 50%;">

				<div class="image-header">

				<h3 class="blog-inner-header">Одежда для сильных женщин: ателье Adore выпустило весеннюю коллекцию</h3>
				<span class="blog-image-filter">Люди</span>
				<span class="blog-image-filter">Развлечения</span>
		<div class="date">
			<span>Дата: 28/03/2019</span>&nbsp;|&nbsp;<span><span>2100</span> просмотров</span>
		</div>
	</div>
			</div>
			<div class="text-block">
				<p>Известное многим столичным модницам ателье Adore, которым руководит талантливый дизайнер Шохида Юлдашева, представило собственную коллекцию. По замыслу дизайнера, одежда предназначена для сильных женщин, у которых есть свой стиль и четкая позиция в жизни. Коллекция выполнена в минималистичном стиле и классических цветах — белом, красном, черном. В интервью для The Mag дизайнер и основатель ателье Adore Шохида Юлдашева рассказала о новой коллекции, раскрыла секрет своего успеха и поделилась знаниями о том, как правильно балансировать на грани элегантности и сексуальности.</p>
					<img src="https://cdn.themag.uz/2019/03/online-photo_events_Adore-IMG13.jpg" alt="">

<p>В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.</p>
<img src="img/1.jpg" alt="">
<p>
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.</p>

<p>В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования. В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.
В ходе мероприятия выступили президент Корпорации Синергия Вадим Лобов и ректор ШБ Синергия Григорий Аветов. The Mag удалось побеседовать с ректором лично и обсудить тему бизнес-образования.</p>

			</div>
		</article>

	</div>


</main>


<footer>
	
<div class="social-footer">
	<div class="social-footer-wrapper">
		<a href=""><img src="img/social/fb.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/ins.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/vk.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/yt.svg" title="Наши социальные страницы" /></a>
		<a href=""><img src="img/social/tg.svg" title="Наши социальные страницы" /></a>
	</div>
</div>

	<div class="copyright">&copy; 2019 CITY HOUSE. Все права защищены.
Дизайн и разработка — <a href="www.pyproduction.uz">PY PRODUCTION</a>
</div>

</footer>	

	
</body>
</html>